[submodule "content/themes/casper"]
	path = content/themes/casper
	url = ../../TryGhost/Casper.git
[submodule "core/client"]
	path = core/client
	url = ../../TryGhost/Ghost-Admin.git
[submodule "content/themes/world-times"]
	path = content/themes/world-times
	url = git@my.gitlab.com:ihor.maslov/world-times.git
